@import "fonts";

// COLORS
$white: #FFFFFF;
$black: #000000;
$grey: #939393;
$grey-hover: #ECE8E8;
$blue: #0C85F3;
$blue-hover: #72C6FF;

// TYPOGRAPHY
$font-family-base: $caveat;
$font-size-base: 17px;
$line-height-base: 21px;
